name: Node.js CI
permissions:
    contents: read

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        env:
            CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up using pnpm
              uses: oBusk/action-pnpm-setup@v1
            - name: Check Linting
              run: pnpm run lint

    test:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        env:
            CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up using pnpm
              uses: oBusk/action-pnpm-setup@v1
            - name: Run tests
              run: pnpm run test-ci

    build:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        env:
            CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up using pnpm
              uses: oBusk/action-pnpm-setup@v1
            - name: Build
              run: pnpm run build
